.cabecalho {
    background-color: #d9d9d9;
    padding: 20px 40px;
    border-bottom: 1px solid #bcbcbc;
}

.cabecalho__nav_list {
    display: grid;
    grid-template-columns: 2fr 100px 100px 100px;
    list-style: none;
    gap: 10px;
    margin-left: 10px;
}

.cabecalho__logo {
    margin-right: 300px;
}
.logo {
    width: 120px;
    height: auto;
}

.nav_texto {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: black;
}


@media (max-width: 900px) {
    .cabecalho__nav_list {
        flex-wrap: wrap;
        justify-content: center;
    }
}
