.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: transform 1s ease, opacity 0.8s ease;
    z-index: 999;
    background-color: var(--cor-nav-titulos);
    padding: 20px 40px;
    border-bottom: 3px solid var(--cor-destaque);
}
.cabecalho.escondido {
  transform: translateY(-100%);
  opacity: 0;
}

.cabecalho__nav_list {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-left: 10px;
}

.cabecalho__logo {
    margin-right: auto;
}
.logo {
    width: 60px;
    height: auto;
}

.nav_texto {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    transform: translateY(-50%);
}


@media (max-width: 900px) {
    .cabecalho__nav_list {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .cabecalho__logo {
        margin-right: 0;
    }
}

.cabecalho__nav_item{
    transform: translateY(30%);
}
