.secao-descarte {
  margin-bottom: 25px;
  flex: 2;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #cfcfcf;
}

.titulo-descarte {
  font-family: var(--fonte-titulo);
  text-align: center;
  margin-bottom: 20px;
  color: var(--cor-nav-titulos);
}

.texto-descarte {
  margin-bottom: 12px;
  text-align: center;
  font-family: var(--fonte-texto);
  line-height: 1.8;
  margin-bottom: 1.5rem;
}

.lista-descarte {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(240px, 1fr));
  grid-template-areas: 
  "fone cel teclado"
  "bat tv car"
  ". con .";
  gap: 14px;
  padding: 0;
}

.item-descarte-bat,
.item-descarte-car,
.item-descarte-cel,
.item-descarte-control,
.item-descarte-fon,
.item-descarte-tec,
.item-descarte-tv {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid #cfcfcf;
  background-color: #fafafa;
  padding: 16px;
  border-radius: 12px;
}

.cabo, .tv, .bateria {
  width: 58px;
  height: auto;
  display: block;
  object-fit: contain;
}

.celular, .fone, .teclado {
  width: 45px;
  height: auto;
  display: block;
  object-fit: contain;
}

.controle {
  width: 100px;
  height: auto;
  display: block;
  object-fit: contain;
}

.item-descarte-fon {
  grid-area: fone;
}
.item-descarte-tec {
  grid-area: teclado;
}
.item-descarte-tv {
  grid-area: tv;
}
.item-descarte-cel {
  grid-area: cel;
}
.item-descarte-car {
  grid-area: car;
}
.item-descarte-bat {
  grid-area: bat;
}
.item-descarte-control {
  grid-area: con;

}
