.rodape {
    background-color: #d9d9d9;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #bcbcbc;
    font-size: 18px;
    color: #555;
    position: fixed;
    bottom: 0;
}

.footer_texto{
    text-decoration: none;
    color: inherit;
}
