.rodape {
    width: 100%;
    background-color: var(--cor-nav-titulos);
    padding: 20px 0;
    text-align: center;
    border-top: 3px solid var(--cor-destaque);
    font-size: 18px;
    color: #ffffff;
}

.footer_texto {
    text-decoration: none;
    color: var(--cor-destaque);
}


