.secao-sobre {
    background-color: #ffffff;
    padding: 25px;
    border: 1px solid #cfcfcf;
    margin-bottom: 30px;
}

.sobre-intro {
    margin-bottom: 25px;
}

.sobre-intro h1 {
    font-size: 36px;
    margin-bottom: 12px;
}

.sobre-descricao,
.participantes {
    margin-bottom: 25px;
}

.sobre-descricao p,
.participantes p,
.participantes li {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 12px;
}

.participantes ul {
    list-style: disc;
    padding-left: 20px;
}

.participantes li {
    margin-bottom: 10px;
}

@media (max-width: 900px) {
    .secao-sobre h1 {
        font-size: 28px;
    }

    .secao-sobre h2 {
        font-size: 24px;
    }
}

.titulo-sobre{
    font-family: var(--fonte-titulo);
}

.texto-sobre{
    font-family: var(--fonte-texto);
}