.secao-sobre {
    background-color: #ffffff;
    padding: 25px;
    border: 1px solid #cfcfcf;
    margin-bottom: 30px;
}

.titulo-sobre{
    font-family: var(--fonte-titulo);
    text-align: center;
    margin-bottom: 15px;
}

.subtitulo-projeto {
    text-align: center;
    font-family: var(--fonte-titulo);
    margin-bottom: 15px;
}
.texto-sobre{
    font-family: var(--fonte-texto);
    text-indent: 30px;
}

.descricao-projeto {
    font-family: var(--fonte-texto);
    text-indent: 30px;
}

@media (max-width: 900px) {
    .secao-sobre h1 {
        font-size: 28px;
    }

    .secao-sobre h2 {
        font-size: 24px;
    }
}
