@import url("cabecalho.css");
@import url("mapa.css");
@import url("estatisticas.css");
@import url("sobre.css");
@import url("graficos.css");
@import url("footer.css");

:root {
    --cor-texto-principal: #1a5f05;
    --cor-texto-secundario: #5E6E89;
    --cor-texto: #EFEFEF;
    --fonte-texto: "Merriweather", serif;
    --fonte-titulo: "Inter", sans-serif;

    --cor-links: #034a85;

    --cor-destaque-principal: #FF55DF;
    --cor-destaque-secundario: #8FFF24;

    --cor-fundo-botao: #0b56f7;

    --cor-de-fundo: #FFFFFF;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f3f3f3;
    color: #333;
}

main {
    flex: 1;
    width: 90%;
    max-width: 1200px;
    margin: 150px auto 0;
}
